body{
background-color:#e653c1;
}
.header_div{
    background-color:white;
    width:100%;
}
.header_div p{
    font-size:medium;
    background-color: grey;
    letter-spacing: 2px;
    width:fit-content;
    margin-left: 500px !important;

}
.header_div h2{
    font-family: 'Cinzel Decorative', cursive;
}
button{
    margin-top: 20px;
    height:40px;
    color:black !important;
    font-size: 24px !important;
}
.images{
    height:250px;
    width:250px;
}
.footer{
    bottom:0;
    position:fixed;
    color:black;
    background-color:aliceblue;
    text-align:center;
    width:100%;
    font-size:20px;
    line-height:3;
    text-shadow:rgb(150, 150, 150) 5px 5px 5px;
    letter-spacing:2px;
    font-family:fantasy;
}